<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/box.css" />

    <title>Document</title>
</head>
<body>
    <%- include("partials/header") %>
    <form class="box" action="/auth/send-reset-password-link" method="POST">
    <h1 class="heading">Reset Password</h1>
        <div class="heading" class="form-group">
          <input class="input" type="email" name="email" placeholder="Enter your email" class="form-control" name="email">
        </div>
        <button type="submit" class="submitbutton">Send Email</button>
      </form>
      <p>An email will be sent to your account containing instructions on how you can update your password.</p>
</body>
</html>